@model ShopMVC.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="PrimaryKey" class="control-label"></label>*@
                <input asp-for="PrimaryKey" class="form-control" type="hidden" value="@Model.PrimaryKey"/>
                <span asp-validation-for="PrimaryKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
               @* <label asp-for="ShopId" class="control-label">Shop</label>*@
                
                <h3>@ViewBag.ShopName</h3>
                @*<input asp-for="ShopId" class="form-control" />*@
                <span asp-validation-for="ShopId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index/@Model.ShopId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
